/*****************************************************************
    Default Styles / Mobile-First Approach
*****************************************************************/

/* Reset user agent styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Spacing */
    --boxPadding: 2rem;
    --sectionGap: 1.5rem;

    /* Colors */
    --cyan: hsl(179, 62%, 43%);
    --lightCyan: hsl(179,47%,51%);
    --brightYellow: hsl(71, 73%, 54%);
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
    --white: #fff;
}

/* Base Styles */
html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
section {
    padding: var(--boxPadding);
}
h2, h3 {
    padding-bottom: var(--sectionGap);
}
/******************************
    Community Section Styles
******************************/
#community h2 {
    color: var(--cyan);
}
#community h3 {
    color: var(--brightYellow);
}
#community p {
    color: var(--grayishBlue);
    line-height: 1.5;
}

/******************************
    Subscription Section Styles
******************************/
#subscription {
    background: var(--cyan);
    color: var(--white);
}
#subscription p {
    line-height: 1.5;
}
#subscription .price {
    display: flex;
}
#subscription .amount {
    font-size: 2rem;
    font-weight: bold;
}
#subscription .subscript {
    padding-left: 0.8rem;
    color: var(--lightGray);
    align-self: center;
    font-weight: lighter;
}
#subscription button {
    border: none;
    border-radius: 5px;
    margin-top: 1.5rem;
    width: 100%;
    height: 3rem;
    text-align: center;
    color: var(--white);
    background: var(--brightYellow);
    font-size: 1.1rem;
    font-family: 'Karla', sans-serif;
}
#subscription button:hover {
    cursor: pointer;
    background: var(--grayishBlue);
    color: var(--brightYellow);
}

/******************************
    Why Us Section Styles
******************************/
#why-us {
    background: var(--lightCyan);
    color: var(--white);
}
#why-us ul {
    list-style: none;
    line-height: 1.3;
}
/******************************
    Footer Styles
******************************/
footer {
    text-align: center;
    color: var(--grayishBlue);
    padding: 1.2rem 2rem;
}
footer a {
    color: var(--cyan);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}